@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template: 10% 80vh 10%;
}

header {
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  color: #4FAF44;
  background-color: black;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

body {
  background-color: black;
  min-height: 80vh;
}

